/*    --------------------------------------------------
	:: meu css
	-------------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}

.content h1 {
    text-align: center;

}
#tudo{
    margin-left: 15px;
    text-align: center;
    background-color: #E1BEE7;
    width: 350px;
}
#primeiroValor{
    margin: 2px;
}
#botao{
    margin-right: 200px;
}
